.info-section {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 5rem;
    height: 30rem;
    overflow-y: hidden;
}

@keyframes flectoMorph {
    40% {
        opacity: 1;
        transform: scale(0.3, 0.3) translateY(50px);
        filter: blur(10px); 
    }
    70% {
        opacity: 1;
        transform: scale(1.1, 0.9) translateY(0);
        filter: blur(0);
    }
    100% {
        transform: scale(1.8, 1); 
        opacity: 1;
    }
}

.first-box {
    width: 5rem;
    height: 5rem;
    transform: scale(0);
    opacity: 0;
    margin-inline: auto;
    background-color: var(--primary);
    border-radius: .25rem;
}

.info-section.show .first-box {
    animation: flectoMorph 1.8s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    will-change: transform;
}