/* Left Navbar (Desktop Only) */
.side-nav {
    width: 250px;
    height: 100dvh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding: 20px;
    border-right: 0.4px solid var(--option2);
    /* background-color: white; */
}

.logo{display: flex; gap: .5rem;}
/* .logo img {width: 3rem;} */
.logo img {width: 10rem;}
.logo h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px; 
    font-weight: 400; 
    color: var(--primary);
}

.add-note-form {
    padding: 10px 15px;
    background-color: var(--primary);
    border-radius: 1rem;
    border: 1px solid var(--primary);
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    height: 3rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.add-note-form span {color: white; transition: 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);}

.add-note-form::before {
    content: '';
    position: absolute;
    left: 48%; 
    top: 100%;
    transform: translateX(-50%);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
    transition: 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center center;
}

.add-note-form:hover::before {
    transform: scale(6);
}

.add-note-form:hover span {
    color: var(--primary);
}

.notebook-bar {
    display: flex;
    padding-inline: .5rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
}

.add-notebook-form {
    border: none;
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    cursor: pointer;
    color: var(--primary);
    padding: .2rem .5rem;
    position: relative;
    border-radius: 1rem;
    z-index: 1;
    overflow: hidden;
    transition: .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.add-notebook-form::before {
    content: '';
    position: absolute;
    right: -400%; 
    top: -50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--primary);
    z-index: -1;
    transition: .8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center center;
}

.add-notebook-form:hover::before {
    right: -200%;
}

.add-notebook-form:hover {
    color: white;
}

.notebooks-list {
    flex-grow: 1;
    width: 95%;
    overflow-y: auto;
    margin-bottom: 1rem;
    margin-inline: auto;
    background-color: var(--option1);
    border-radius: 1rem;
}

.footer {
    /* border-top: 1px solid var(--option2); */
    padding: .5rem .5rem;
    /* padding-bottom: 2.5rem; */
    margin-inline: auto;
    /* box-shadow: -0px 4px 10px rgba(0, 0, 0, 0.4); */
}

.footer p {
    margin: 0;
    font-size: 12px;
    opacity: 0.5;
    text-align: center;
}

/* Navbar (Mobile - Desktop */
.navbar {
    position: fixed;
    background-color: var(--option1);
    height: fit-content;
    top: 0;
    right: 0;
    padding: 10px 15px;
    /* Gunakan calc untuk mengurangi lebar margin agar tidak overflow */
    width: calc(100% - 250px); 
    margin-left: 250px; /* Samakan dengan lebar .side-nav */
    background-color: black;
}