:root {
    --primary: #3D00FF;
    --option1: #eee;
    --option2: #d4d4d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    max-height: 100dvh;
    overflow: hidden; /* Memastikan body tidak ikutan scroll */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* DEFAULT STYLE */
a {cursor: pointer;}

/* CUSTOM SCROLL */
::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: .5rem;
  border: 3px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
}

.line {
    width: 95%;
    height: 2px;
    background-color: var(--option2);
    border-radius: 100rem;
    margin-inline: auto;
    margin-block: 1rem;
}

/* DEFAULT FONT */
h1 { font-family: 'Playfair Display', serif; }
p { font-family: 'Segoe UI', sans-serif; }

@keyframes fadeTop {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}